<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
</head>
<body th:fragment="footer">
<footer>
    Created by Kacper Fleszar (kacper.fleszar@gmail.com), 2019
</footer>
</body>
</html>