<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
</head>
<body th:fragment="header" th:onload="'javascript:showLoginModal(' + ${needLogin} + ');'">
<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}" th:text="#{header.app.name}"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="dropdown nav-item" sec:authorize="isAuthenticated()">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
                           th:text="#{header.api}"></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" target="_blank" role="presentation" th:href="@{/api/api-docs}"
                               th:text="#{header.api.documentation}"></a>
                            <a class="dropdown-item" role="presentation" th:href="@{/api/api-generator}"
                               th:text="#{header.api.generate}"></a>
                            <a class="dropdown-item" role="presentation" th:href="@{/api/api-keys}"
                               th:text="#{header.api.yours}"></a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
                           th:text="#{language}"></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" th:text="#{language.en}" th:href="@{?lang=en}"></a>
                            <a class="dropdown-item" th:text="#{language.pl}" th:href="@{?lang=pl}"></a>
                        </div>
                    </li>
                </ul>
                <div sec:authorize="!isAuthenticated()">
                    <span class="navbar-text actions">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="btn btn-large" href="" th:text="#{header.signin}" data-toggle="modal"
                                   data-target="#modalLoginForm"></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-large btn-success" href="/register" th:href="@{/register}"
                                   th:text="#{header.signup}"></a>
                            </li>
                        </ul>
                    </span>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <span class="navbar-text actions">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <div class="navbar-text mr-2" th:text="#{header.welcome} + ', ' + ${#authentication.getPrincipal().getFirstName()}"></div>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-large btn-success" href="/logout" th:href="@{/logout}"
                                   th:text="#{header.logout}"></a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:include="fragments/loginForm :: login"></div>


<!-- <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
    &copy; 2016 The Static Templates
    TODO: admin header selector
</div> -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script>
function showLoginModal(doNeed) {
    if (doNeed) {
        $('#modalLoginForm').modal('toggle');
    }
}
</script>
</body>
</html>