<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="login">
    <form th:action="@{/login}" method="post">
        <div id="modalLoginForm" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="md-form">
                            <label for="modalLogin" th:text="#{login.login}"></label>
                            <input id="modalLogin" class="form-control" type="text"
                                   name="username"
                                   th:placeholder="#{login.login}"/>
                        </div>
                        <div class="md-form">
                            <label for="modalPassword" th:text="#{login.password}"></label>
                            <input id="modalPassword" class="form-control" type="password"
                                   name="password"
                                   th:placeholder="#{login.password}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p><button class="btn btn-large" th:text="#{login.close}" data-dismiss="modal"></button></p>
                        <p><input class="btn btn-large btn-success" type="submit" th:value="#{header.signin}" formmethod="post"/></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

