<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="alert alert-success" role="alert" th:if="${createdKey != null}">
        <p th:text="#{api.keys.created}"></p>
        <hr>
        <p>
            <b><span th:text="${createdKey.keyName}"></span></b>
            (hash: <span th:text="${createdKey.keyHash}"></span>)
        </p>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${deletedKey != null}">
        <p th:text="#{api.keys.deleted}"></p>
    </div>

    <div>
        <h1 th:text="#{api.keys.title}"></h1>
    </div>
    <table class="table table-hover table-sm">
        <thead>
        <tr class="d-flex">
            <th class="col-2" th:text="#{api.keys.table.name}"></th>
            <th class="col-2" th:text="#{api.keys.table.hash}"></th>
            <th class="col-6" th:text="#{api.keys.table.description}"></th>
            <th class="col-1" th:text="#{api.keys.table.expiration}"></th>
            <th class="col-1" th:text="#{delete}"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="key : ${keys}" th:classappend="${key.expired} ? table-secondary : ''">
            <td class="col-2">
                <p th:text="${key.keyName}"></p>
            </td>
            <td class="col-2">
                <p th:text="${key.keyHash}"></p>
            </td>
            <td class="col-6 word-wrap break-text">
                <p th:text="${key.description}"></p>
            </td>
            <td class="col-1">
                <p th:text="${key.expirationDate}" th:classappend="${key.expired} ? text-danger : ''"></p>
            </td>
            <td class="col-1">
                <form th:action="@{/api/remove-key}" method="post">
                    <input type="hidden" name="keyName" th:value="${key.keyName}"/>
                    <input type="submit" class="btn btn-danger" th:value="#{delete}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>