<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${keyNotUnique}">
        <p th:text="#{api.keys.generator.name.exists}"></p>
    </div>
    <div>
        <h1 th:text="#{api.keys.generator.title}"></h1>
    </div>
    <form th:action="@{/api/api-generator}" th:object="${key}" method="post">
        <div class="form-group">
            <input class="form-control" type="text"
                   th:placeholder="#{api.keys.generator.name.placeholder}"
                   th:field="*{keyName}"
                   th:classappend="${#fields.hasErrors('keyName')} ? is-invalid : ''"/>
            <small class="form-text"
                   th:classappend="${#fields.hasErrors('keyName')} ? text-danger : text-muted"
                   th:text="#{api.keys.generator.name.length}"></small>
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text"
                      th:placeholder="#{api.keys.generator.description.placeholder}"
                      th:field="*{keyDescription}"
                      th:classappend="${#fields.hasErrors('keyDescription')} ? is-invalid : ''"></textarea>
            <small class="form-text"
                   th:classappend="${#fields.hasErrors('keyDescription')} ? text-danger : text-muted"
                   th:text="#{api.keys.generator.description.length}"></small>
        </div>
        <p><input class="btn btn-success" type="submit" th:value="#{api.keys.generator.generate}" formmethod="post"/></p>
    </form>
</div>
</body>
</html>