<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div th:if="${homeModel.restServiceAvailable}">
        <div>
            <h1 th:text="#{home.pollen.title}"></h1>
            <table class="table table-hover table-sm">
                <thead>
                <tr class="d-flex">
                    <th class="col-6" th:text="#{home.pollen.type}"></th>
                    <th class="col-6" th:text="#{home.pollen.concentration}"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="d-flex" th:each="pollen : ${pollens}" th:classappend="${pollen.rowStyle}">
                    <td class="col-6">
                        <p th:text="#{__${pollen.pollenSubType.resourceName}__}"></p>
                    </td>
                    <td class="col-6">
                        <p th:text="#{__${pollen.pollenConcentration.resourceName}__}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h1 th:text="#{home.cross.allergens.title}"></h1>
            <a th:each="crossAllergen, iterStat : ${crossAllergens}"
               th:text="${iterStat.last} ? #{__${crossAllergen}__} : #{__${crossAllergen}__} + ', '"></a>
        </div>
    </div>
    <div th:if="!${homeModel.restServiceAvailable}">
        <h1 th:text="#{home.service.unavailable}"></h1>
    </div>
</div>
</body>
</html>