<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<body>
<div th:replace="fragments/header :: header" />
<div class="container">
    <div>
        <h1 th:text="#{register.title}"></h1>
    </div>
    <form th:action="@{/register}" th:object="${registerModel}" method="post">

        <div class="form-row col-6">
            <div class="form-group col">
                <label for="firstName" th:text="#{register.firstName}"></label>
                <input id="firstName" class="form-control" type="text"
                       th:placeholder="#{register.firstName}"
                       th:field="*{firstName}"
                       th:classappend="${#fields.hasErrors('firstName')} ? is-invalid : ''"/>
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}"></small>
            </div>
            <div class="form-group col">
                <label for="lastName" th:text="#{register.lastName}"></label>
                <input id="lastName" class="form-control" type="text"
                       th:placeholder="#{register.lastName}"
                       th:field="*{lastName}"
                       th:classappend="${#fields.hasErrors('lastName')} ? is-invalid : ''"/>
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('lastName')}"
                       th:errors="*{lastName}"></small>
            </div>
        </div>

        <div class="form-group has-error col-6">
            <label for="login" th:text="#{register.login}"></label>
            <input id="login" class="form-control" type="text"
                   th:placeholder="#{register.login}"
                   th:field="*{login}"
                   th:classappend="${#fields.hasErrors('login')} ? is-invalid : ''"/>
            <small class="form-text text-danger"
                   th:if="${#fields.hasErrors('login')}"
                   th:errors="*{login}"></small>
        </div>

        <div class="form-group has-error col-6">
            <label for="password" th:text="#{register.password}"></label>
            <input id="password" class="form-control" type="password"
                   th:placeholder="#{register.password}"
                   th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''"/>
            <small class="form-text text-danger"
                   th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"></small>
        </div>

        <div class="form-group has-error col-6">
            <label for="confirmPassword" th:text="#{register.password.confirm}"></label>
            <input id="confirmPassword" class="form-control" type="password"
                   th:placeholder="#{register.password.confirm}"
                   th:field="*{confirmPassword}"
                   th:classappend="${#fields.hasErrors('confirmPassword')} ? is-invalid : ''"/>
            <small class="form-text text-danger"
                   th:if="${#fields.hasErrors('confirmPassword')}"
                   th:errors="*{confirmPassword}"></small>
        </div>

        <div class="form-group has-error col-6">
            <label for="email" th:text="#{register.email}"></label>
            <input id="email" class="form-control" type="email"
                   th:placeholder="#{register.email}"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? is-invalid : ''"/>
            <small class="form-text text-danger"
                   th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"></small>
        </div>

        <p><input class="btn btn-success" type="submit" th:value="#{register.create.account}" formmethod="post"/></p>
    </form>
</div>
</body>
</html>